<section class="about" id="about">
  <div class="container">
    <h2 class="about__title _anim-items _anim-no-hide">tradition and love</h2>
    <h3 class="about__subtitle _anim-items _anim-no-hide">how it’s made?</h3>
    <div class="about-container">
      <picture>
        <source
          media="screen and (min-width: 1200px)"
          srcset="./images/mobile/about/cow@2x.png"
        />
        <source
          media="screen and (max-width: 768px)"
          srcset="./images/tablet/about/cow@2x.png"
        />
        <source
          media="screen and (min-width: 1200px)"
          srcset="./images/desktop/about/cow@2x.png"
        />
        <img src="./images/desktop/about/cow.png" alt="cow" />
      </picture>
      <div class="about__main-text">
        <div class="about__text _anim-items _anim-no-hide">
          <p class="about__description _anim-show">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
        </div>
        <div class="about__text _anim-items _anim-no-hide">
          <p class="about__description about__description--gray _anim-show">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
        </div>
        <div class="about__text _anim-items _anim-no-hide">
          <p class="about__description about__description--gray _anim-show">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>
        <button class="about__button--light" type="button">
          Read more
          <svg class="button-iconrigth" width="10" height="10">
            <use href="./images/sprites-flechas.svg#icon-rigth"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
