<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts-list">
      <ul class="contacts-menu">
        <li class="contacts-menu__item">
          <h3 class="contacts__title contacts__title--cafe">CAFE</h3>
          <h4 class="contacts__city">Chicago</h4>
          <p class="conntacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="contacts__board"></span>
          <ul class="contacts-list-items">
            <li class="contacts__item">
              <h3 class="contacts__day">Monday-Friday</h3>
              <h4 class="contacts__hour">06:00 AM-10:00 PM</h4>
            </li>
            <span class="contacts__board"></span>
            <div>
              <li class="contacts__item">
                <h3 class="contacts__day">Saturday - Sunday</h3>
                <h4 class="contacts__hour">08:00 AM - 16:00 PM</h4>
              </li>
            </div>
          </ul>
          <ul class="contacts-list">
            <li class="contacts__item">
              <a class="contacts_link" href="tel +61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts-menu">
        <li class="contacts-menu__item">
          <h3 class="contacts__title contacts__title--green">FOOD TRUCK</h3>
          <h4 class="contacts__city">Los Angeles</h4>
          <p class="card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="contacts__board"></span>
          <ul class="contacts-list-items">
            <li class="contacts__item">
              <h3 class="contacts__day">Monday-Friday</h3>
              <h4 class="contacts__hour">06:00 AM-10:00 PM</h4>
            </li>

            <li class="contacts__item">
              <h3 class="contacts__day">Saturday - Sunday</h3>
              <h4 class="contacts__hour">08:00 AM - 16:00 PM</h4>
            </li>
            <span class="contacts__board"></span>
          </ul>
          <ul class="contacts-list">
            <li class="contacts__item">
              <a class="contacts__link" href="tel +61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <ul class="contacts-menu">
        <li class="contacts-menu__item">
          <h3 class="contacts__title contacts__title--cafe">CAFE</h3>
          <h4 class="contacts__city">Chicago</h4>
          <p class="card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="contacts__board"></span>
          <ul class="contacts-list-items">
            <li class="contacts__item">
              <h3 class="contacts__day">Monday-Friday</h3>
              <h4 class="contacts__hour">06:00 AM-10:00 PM</h4>
            </li>

            <li class="contacts__item">
              <h3 class="contacts__day">Saturday - Sunday</h3>
              <h4 class="contacts__hour">08:00 AM - 16:00 PM</h4>
            </li>
            <span class="contacts__board"></span>
          </ul>
          <ul class="contacts-list">
            <li class="contacts__item">
              <a class="contacts__link" href="tel +61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </ul>
  </div>
</section>
