<footer class="footer">
  <div class="container">
    <div class="footer__bottoms">
      <button class="footer__buttom--one" type="button" id="footer__modal-open">
        Our Locations
        <svg class="footer__buttom-one--svg">
          <use href="./images/sprites-flechas.svg#icon-direction"></use>
        </svg>
      </button>
      <button class="footer__buttom--two" type="button">
        Franchise
        <svg class="footer__buttom-two--svg">
          <use href="./images/sprites-flechas.svg#icon-direction"></use>
        </svg>
      </button>
    </div>
    <div class="backdrop is-hidden" id="footer__modal-map">
      <div class="footer__modal-map modal">
        <button
          type="button"
          class="btn-dark footer__close-btn footer__modal-close"
          id="footer__modal-close"
        >
          <svg class="footer__close-btn__icon" width="14" height="14">
            <use href="./images/sprites-flechas.svg#icon-close"></use>
          </svg>
        </button>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.346890273619!2d-75.51487248619235!3d5.047388559642126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476527cca04b45%3A0xedd2c526cc8beaf7!2sBARRIO%20LA%20GRANJITA%2C%20VILLAMAR%C3%8DA!5e0!3m2!1ses!2sco!4v1682746473510!5m2!1ses!2sco"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          class="iframe"
        ></iframe>
      </div>
    </div>
    <aside>
      <h2>
        homemade ice cream <span class="footer__title--move">made</span>
        <div>
          <span class="footer__title">w</span>
          <span class="footer__title">i</span>
          <span class="footer__title">t</span>
          <span class="footer__title">h</span>
          <span class="footer__move"> </span>
          <span class="footer__title">p</span>
          <span class="footer__title">a</span>
          <span class="footer__title">s</span>
          <span class="footer__title">s</span>
          <span class="footer__title">i</span>
          <span class="footer__title">o</span>
          <span class="footer__title">n</span>
        </div>
      </h2>
      <ul>
        <li>
          <a href="https://github.com/Acrosave/Acrosave" target="_blank">
            <svg class="footer__icon-redes">
              <use href="./images/sprites-flechas.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/andresm.j/" target="_blank">
            <svg class="footer__icon-redes">
              <use href="./images/sprites-flechas.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/santiagodres.ma/" target="_blank">
            <svg class="footer__icon-redes">
              <use href="./images/sprites-flechas.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </aside>
    <address>
      <ul>
        <li>
          Feel free to contact
          <span class="footer__addres--tittle"> +61 (0) 383 766 284</span>
        </li>
      </ul>
    </address>
    <div class="footer__line"></div>
    <div class="footer__terms">
      <span>
        &;copy 2022 - IceCream.
        <span class="footer__displace">All Rights Reserved.</span></span
      >
    </div>
  </div>
</footer>
