<div class="backdrop is-hidden" data-modal-ice-cream>
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal-ice-cream-close>
      <svg class="modal-icon-close">
        <use href="./images/sprites-flechas.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">THE BEST YOU'VE EVER HAD</p>
    <picture class="modal-image">
      <source
        media="screen and (max-width: 768px)"
        srcset="./images/tablet/products/pink.png"
      />
      <source
        media="screen and (min-width: 1200px)"
        srcset="./images/desktop/products/pink@2x.png"
      />
      <img src="./images/desktop/products/pink.png" alt="" />
    </picture>
    <p class="modal-subtitle">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <a href="" class="modal-red">want it</a>
  </div>
</div>
<div class="backdrop is-hidden" data-modal-ice-coffee>
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal-ice-coffee-close>
      <svg class="modal-icon-close">
        <use href="./images/sprites-flechas.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">THE BEST YOU'VE EVER HAD</p>
    <picture class="modal-image">
      <source
        media="screen and (max-width: 768px)"
        srcset="./images/desktop/products/coffe@2x.png"
      />
      <source
        media="screen and (min-width: 1200px)"
        srcset="./images/desktop/products/coffe@2x.png"
      />
      <img src="./images/desktop/products/coffe.png" alt="" />
    </picture>
    <p class="modal-subtitle">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <a href="" class="modal-red">want it</a>
  </div>
</div>
<div class="backdrop is-hidden" data-modal-milkshakes>
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal-milkshakes-close>
      <svg class="modal-icon-close">
        <use href="./images/sprites-flechas.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">THE BEST YOU'VE EVER HAD</p>
    <picture class="modal-image">
      <source
        media="screen and (max-width: 768px)"
        srcset="./images/tablet/products/chocolate.png"
      />
      <source
        media="screen and (min-width: 1200px)"
        srcset="./images/desktop/products/chocolate@2x.png"
      />
      <img src="./images/desktop/products/chocolate.png" alt="" />
    </picture>
    <p class="modal-subtitle">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut provident
      tempore assumenda molestiae explicabo. Commodi temporibus optio.
    </p>
    <a href="" class="modal-red">want it</a>
  </div>
</div>
</div>
